.p-slidemenu.p-slidemenu-overlay {
    height: 220px;
    width: 175px;
}

.p-button-label {
    color: var(--primary-color-text);
    font-weight: 650;
}

.p-button-icon-left {
    color: var(--primary-color-text);
    font-weight: 650;
}

.icon {
  margin-right: .5rem;
}