.p-datascroller.p-component.p-datascroller-inline {
    width: 100%;
}

.p-fieldset .p-fieldset-legend {
    width: 40rem;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
}
.p-fieldset-content{
    padding-top: 5px;
    padding-bottom: 5px;
}
.p-fieldset .p-fieldset-content{
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-fieldset-legend-text {
    width: 95%;
}

.grid {
    margin-left: 0px;
    margin-right: 0px;
}

.p-divider.p-divider-vertical .p-divider-content{
    padding: 8rem 0;
}